.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__app-logo {
  flex: 1;
  height: 80%;
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 1;
  }

  @media screen and (max-width: 1200px) {
    margin: 0.5rem auto;
  }
}

